@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
    font-family: "Moderna";
    src: url("../fonts/MODERNA_.TFF"); /* TTF file for CSS3 browsers */
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #99DFF9;
}

#logo {
    height: 100px;
}

#join {
    border: solid 2px white;
    border-radius: 20px;
    background-color: #cc0000;
    width: 80%;
    color: yellow;
}

#username {
    border: solid 2px #00AEEF;
}

.rad {
    border: solid 1px #00AEEF;
}
/* Initially set all the HTML divs to display: none and then display them one by one */
.spinGame, .spinCategory, .waitingForParent, .waitingForTeen, .inputInformation, .missingDigitScreen {
	display: none;
}

.teenWin, .parentWin {
	display: none;
}

#missingDigitList li {
    list-style-type: none;
    display: inline;
}

/* Center everything in the column */
.col-centered {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.playerSelect {
	text-align: left;
	margin: 10px 140px;
}

.spinGame button, .spinCategory button {
	margin: 20px;
}

#categorySelect {
	text-align: left;
	margin: 70px auto;
	width: 250px;
}

.gameDescription {
	text-align: left;
}

