/* Initially set all the HTML divs to display: none and then display them one by one */
@import 'style-elements';

.background-fan{
  background-image: url("../images/background.png");
  background-position: left top;
  background-size: 100% auto;
}

#bonkersNumber {
	font-size: 30px;
	position: absolute;
	bottom: 8%;
	left: 45%;
}

.bonkers-counter-div{
  width: 30%;
  margin:auto;
}

.counter-arrow{
	fill: $color-blue-1;
	stroke: white;

}

.counter-arrow:hover{
	fill: $color-pink-1;
	stroke: white
}

.counter-box{
	fill: $color-pink-2;
	stroke: white
}

#guessBonkers {
  margin-top: 30%;
}
