@import 'style-elements';

#balance-title{
  padding-left: 3em;
  padding-right:3em;
}

.balance-game-div {
  text-align: center;
}

.balance-game-svg{
  width: 80%;
  margin-bottom: 2em;
  display: inline-block;
}

.ball-visible .balance-ball {
  fill: $color-blue-1;
}

.ball-hidden {
  display: none;
}

.ball-text {
  font-family: $font-stack;
  font-size: 0.6em;
  text-align: center;
  fill: white;
}
