@import 'style-elements';

#missing-digit{
  background: yellow;
  background: -webkit-linear-gradient(yellow, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(yellow, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(yellow, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(yellow, white); /* Standard syntax */
}

.digit-option {
  font-size: 2em;
  width: 50%;
  margin: auto;
  padding: $standard-padding;

  span {
      color: $color-pink-1;
  }
}

.digit-option:hover, .digit-option:active {
  color: $color-pink-1;
  cursor: hand;
}
