@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* Initially set all the HTML divs to display: none and then display them one by one */
@font-face {
  font-family: "Moderna";
  src: url("../fonts/MODERNA_.TFF");
  /* TTF file for CSS3 browsers */ }
.background-fan {
  background-image: url("../images/background.png");
  background-position: left top;
  background-size: 100% auto; }

.gameDescription {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em; }

.bonkers-counter-div {
  width: 30%;
  margin: auto; }

.counter-arrow {
  fill: #10528F;
  stroke: white; }

.counter-arrow:hover {
  fill: #D82767;
  stroke: white; }

.counter-box {
  fill: #F9C2DE;
  stroke: white; }

#guessBonkers {
  margin-top: 30%; }

@font-face {
  font-family: "Moderna";
  src: url("../fonts/MODERNA_.TFF");
  /* TTF file for CSS3 browsers */ }
@font-face {
  font-family: "Moderna";
  src: url("../fonts/MODERNA_.TFF");
  /* TTF file for CSS3 browsers */ }
#balance-title {
  padding-left: 3em;
  padding-right: 3em; }

.balance-game-div {
  text-align: center; }

.balance-game-svg {
  width: 80%;
  margin-bottom: 2em;
  display: inline-block; }

.ball-static circle {
  fill: #10528F; }

.ball-interactive circle {
  fill: #D82767; }

.ball-hidden {
  display: none; }

.ball-text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.6em;
  text-align: center;
  fill: white; }

.balance-line, .cls-6 {
  fill: none;
  stroke: #10528F;
  stroke-width: 3px; }

.balance-line {
  stroke-miterlimit: 10; }

.cls-2 {
  fill: #d82767; }

.cls-2, .cls-7 {
  stroke: #fff;
  stroke-width: 2px; }

.cls-2, .cls-6, .cls-7 {
  stroke-linejoin: round; }

.cls-3, .cls-4, .cls-8 {
  font-size: 12px;
  font-family: MyriadPro-Regular, Myriad Pro; }

.cls-3 {
  fill: #fff; }

.cls-4 {
  fill: #ff0; }

.cls-5, .cls-7 {
  fill: #10528F; }

.cls-8 {
  fill: #10528F; }

* {
  font-family: "Montserrat", sans-serif; }

body {
  font-family: "Montserrat", sans-serif;
  background-color: #99DFF9; }

#logo {
  height: 100px; }

/* Initially set all the HTML divs to display: none and then display them one by one */
.spinGame, .spinCategory, .waitingForParent, .waitingForTeen, .inputInformation, .missingDigitScreen, .balanceScreen, .bonkersScreen {
  display: none; }

/* .initialPage {
   display: none;} */
#join {
  display: none; }

.teenWin, .parentWin, .wrongCode, .roomExists {
  display: none; }

.gameTitle {
  padding: 1.5em; }

.container {
  height: 100vh;
  padding: 0; }

.parentScore, .teenScore {
  padding: 10px;
  margin-top: 50px;
  display: inline-block;
  text-align: center;
  background: #ffffff; }

#missingDigitList li {
  list-style-type: none;
  display: inline; }

/* Center everything in the column */
.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center; }

.playerSelect {
  text-align: left;
  margin: 10px 140px; }

.spinGame button, .spinCategory button {
  margin: 20px; }

#categorySelect {
  text-align: left;
  margin: 70px auto;
  width: 250px; }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
